/target/
/nb-configuration.xml
/.idea/artifacts/mcib3d_plugins.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/kotlinc.xml
/.idea/libraries/Maven__com_github_mcib3d_mcib3d_core_master_3_9_g1e17fbf_38.xml
/.idea/libraries/Maven__com_github_quickhull3d_quickhull3d_1_0_0.xml
/.idea/libraries/Maven__com_googlecode_combinatoricslib_combinatoricslib_2_0.xml
/.idea/libraries/Maven__gov_nist_math_jama_1_0_3.xml
/.idea/libraries/Maven__net_imagej_ij_1_51k.xml
/.idea/libraries/Maven__org_jogamp_gluegen_gluegen_rt_2_3_2.xml
/.idea/libraries/Maven__org_jogamp_jogl_jogl_all_2_3_2.xml
/.idea/libraries/Maven__org_scijava_j3dcore_1_6_0_scijava_2.xml
/.idea/libraries/Maven__org_scijava_j3dutils_1_6_0_scijava_2.xml
/.idea/libraries/Maven__org_scijava_vecmath_1_6_0_scijava_2.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
/.idea/libraries/Maven__sc_fiji_3D_Viewer_4_0_1.xml
/.idea/libraries/Maven__sc_fiji_Image_5D_1_2_6.xml
/.idea/libraries/Maven__sc_fiji_VIB_lib_2_1_0.xml
/.idea/libraries/Maven__sc_fiji_imagescience_3_0_0.xml
/.idea/libraries/Maven__sc_fiji_imageware_2_0_1_SNAPSHOT.xml
/.idea/libraries/Maven__sc_fiji_pal_optimization_2_0_0.xml
/.idea/libraries/Maven__weka_weka_3_7_6.xml
/.idea/libraries/org_apache_jena_jena_core_2_12_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/META-INF/MANIFEST.MF
/mcib3d-plugins.iml
