Plugins>Spatial Statistics, "Spatial Analysis 2D/3D", mcib_plugins.Stats_Spat3D
Plugins>3D,"-"
Plugins>3D, "3D Fast Filters", mcib_plugins.Fast_filters3D
Plugins>3D, "3D Hysteresis Thresholding",mcib_plugins.Hysteresis_Thresholding
Plugins>3D, "3D Simple Segmentation", mcib_plugins.Segment3D_
Plugins>3D, "3D Spot Segmentation", mcib_plugins.SeedSpots_Plus
Plugins>3D, "3D Iterative Thresholding",mcib_plugins.Track_Threshold
Plugins>3D, "Manual Spot Segmentation", mcib_plugins.segmentation.Manual_Spot
Plugins>3D,"-"
Plugins>3D, "3D Fill Holes", mcib_plugins.Fill_Holes3D
Plugins>3D, "3D Binary Close Labels",mcib_plugins.Binary_Close
Plugins>3D, "3D Distance Map", mcib_plugins.EDT_3D
Plugins>3D, "3D Watershed", mcib_plugins.Watershed_3D
Plugins>3D,"-"
Plugins>3D, "3D Manager", mcib_plugins.tools.RoiManager3D_2
Plugins>3D, "3D Manager Options", mcib_plugins.tools.RoiManager3D_Options
Plugins>3D, "3D Geometrical Measure", mcib_plugins.Simple_MeasureGeometrical
Plugins>3D, "3D Shape Measure", mcib_plugins.Simple_MeasureShape
Plugins>3D, "3D Intensity Measure", mcib_plugins.Simple_MeasureStatistics
Plugins>3D, "3D Mesh Measure (slow)", mcib_plugins.Simple_MeasureMesh
Plugins>3D, "3D MereoTopology", mcib_plugins.Mereo_3D
Plugins>3D,"-"
Plugins>3D, "3D Radial Distribution",mcib_plugins.Radial_3D
Plugins>3D, "3D Ellipsoid Fitting", mcib_plugins.Ellipsoids_3D
Plugins>3D, "3D Convex Hull", mcib_plugins.Convex_Hull3D
Plugins>3D,"-"
Plugins>3D, "3D Draw Shape", mcib_plugins.Shape3D_
Plugins>3D, "3D Draw Line", mcib_plugins.Line3D_
Plugins>3D, "3D Crop", mcib_plugins.Crop3D_
Plugins>3D, "3D Crop All", mcib_plugins.Crop3D_All
Plugins>3D, "3D Binary Interpolate", mcib_plugins.Binary_Interpolator
Plugins>3D, "3D Draw Rois", mcib_plugins.tools.Draw_RoiSlices
##
Help>About Plugins, "3D ImageJ Suite", mcib_plugins.About





